
/* @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@plugin "daisyui";


*{
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  /* font-family: "Google Sans", sans-serif; */
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: "Bricolage Grotesque", sans-serif;
}